body {
  font-family: monospace;
  color: white;
}

#game-title {
  margin: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* justify-content: center; */
}

/* Modal Content/Box */
/* .modal- */

.modal-content {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  height:90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  font: 12px/20px Lato,Verdana,Arial,geneva,sans-serif;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: red;
  height: 20%;
  display:flex;
}

/* Modal Body */
.modal-body {
  /* padding: 2px 16px; */
  background: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

#directions-p {
  width: 55%;
  margin: auto;
  height: 20%;
}

#keys-modal {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Modal Footer */
/* .modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
} */

:focus {outline:0 !important;}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#audio-button {
  right: 4px;
  top: 4px;
  background: transparent;
  border: none;
  font-size: 36px;
}

#x {
  /* color: white; */
  font-weight: 600;
  line-height: 15px;
  font-size: small;
}

#y {
  /* color: white; */
  font-weight: 600;
    line-height: 15px;
  font-size: small;
}


#z {
  /* color: white; */
  font-weight: 600;
    line-height: 15px;
  font-size: small;
}

#pitch-rotation {
    /* color: white; */
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
  /* background-color: rgba(255, 255, 255, 0.5) */
  /* color: rgb(211, 46, 46) */
}

#roll-rotation {

    /* color: white; */
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
}
#yaw-rotation {

    /* color: white; */
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
}



#pitch-speed{
    /* color: white; */
  font-weight: 400;
  line-height: 20px;
  font-size: small;
}

#roll-speed{
    /* color: white; */
  font-weight: 400;
  line-height: 20px;
  font-size: small;
}

#yaw-speed{
    /* color: white; */
  font-weight: 400;
  line-height: 20px;
  font-size: small;
}

#forward-speed{
    /* color: white; */
     /* width: 33%; */
  font-weight: 600;
  line-height: 25px;
  font-size: small;
    background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#left-right-speed{
    /* color: white; */
    /* width: 33%; */
  font-weight: 600;
  line-height: 25px;
  font-size: small;
    background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#up-down-speed{
  /* color: white; */
   /* width: 33%; */
  font-weight: 600;
  line-height: 25px;
  font-size: small;
    background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#xyz {
   top: 50%;
   left: 28%;
  background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#pitch-div {
  bottom: 20%;
  left: 47%;
  background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
 /* clip-path: polygon(0 0, 100% 0, 84% 100%, 16% 100%); */
}

#pitch-div-2 {
    bottom: 20%;
  left: 47%;
}

#up-down-keys, #w-s-keys, #r-f-keys {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#yaw-div {
    background-color: rgba(24, 26, 27, 0.65);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

#yaw-div-2{
    top: 50%;
    right: 30%;
}

#left-right-keys, #q-e-keys, #a-d-keys {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left-key, #right-key, #up-key, #down-key, #q-key, #e-key, #a-key, #d-key, #w-key, #s-key, #r-key, #f-key{
      background-color: rgba(24, 26, 27, 0.5);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    margin: 3px;
    font-size: x-large;
    border: 1px grey;
}

#roll-div {
    background-color: rgba(24, 26, 27, 0.65);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

#roll-div-2 {
    top: 20%;
    left: 47%;
}



#speed-div {
  display: flex;
  flex-direction: row;
  bottom: 0;
  /* left: 25%; */
  justify-content: space-around;
  width: 100%;
}

#speed-div-2 {
    display: flex;
    flex-direction: row;
    bottom: 25px;
    /* left: 25%; */
    justify-content: space-around;
    width: 100%;
}


#w-s-keys, #r-s-keys {
  margin-bottom: 5px;
}



#key-directions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#letter-1 {
  display: flex;
  flex-direction: row;
}

#letter-2 {
  display: flex;
  flex-direction: row;
}

#arrow-1 {
    display: flex;
    justify-content: center;
}

#arrow-2 {
  display: flex;
  flex-direction: row;
}



#left-key-2, #right-key-2, #up-key-2, #down-key-2, #q-key-2, #e-key-2, #a-key-2, #d-key-2, #w-key-2, #s-key-2, #r-key-2, #f-key-2{
      background-color: rgba(114, 116, 117, 0.5);
      padding-top: 5px;
      padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    margin: 3px;
    font-size: xx-large;
    border: 1px grey;
}


#key-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

