body {
  font-family: monospace;
  color: white;
  background-color: black;
}

#game-title {
  margin: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* justify-content: center; */
}

/* Modal Content/Box */
/* .modal- */

.modal-content {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  padding: 0;
  /* border: 1px solid #888; */
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  font: 12px/20px Lato,Verdana,Arial,geneva,sans-serif;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Header */
.modal-header {
    background-color: black;
    color: red;
    height: 12%;
    display: flex;
}


/* Modal Body */
.modal-body {
  /* padding: 2px 16px; */
  background: black;
  height: 88%;
  display: flex;
  flex-direction: column;
  
}

#directions-p {
  width: 61%;
  font-size: 14px;
  margin: auto;
  /* height: 20%; */
  text-align: center;
}

#keys-modal {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Modal Footer */
/* .modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: white;
} */

#play-btn:hover{
    background: rgb(11, 11, 11);
}

#play-btn:focus{
    background:limegreen;
    color: black
}

:focus {outline:0 !important;}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#audio-button {
  right: 4px;
  top: 4px;
  background: transparent;
  border: none;
  font-size: 36px;
}

#x {
  /* color: white; */
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
}

#y {
  /* color: white; */
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
}


#z {
  /* color: white; */
  font-weight: 600;
  line-height: 16px;
  font-size: 13px;
}

#pitch-rotation {
    /* color: white; */
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
  /* background-color: rgba(255, 255, 255, 0.5) */
  /* color: rgb(211, 46, 46) */
}

#roll-rotation {

    /* color: white; */
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
}
#yaw-rotation {

    /* color: white; */
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
}



#pitch-speed{
    /* color: white; */
  font-weight: 400;
  line-height: 20px;
  font-size: small;
}

#roll-speed{
    /* color: white; */
  font-weight: 400;
  line-height: 20px;
  font-size: small;
}

#yaw-speed{
    /* color: white; */
  font-weight: 400;
  line-height: 20px;
  font-size: small;
}

#forward-speed{
    /* color: white; */
     /* width: 33%; */
  font-weight: 600;
  line-height: 25px;
  font-size: small;
    background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#left-right-speed{
    /* color: white; */
    /* width: 33%; */
  font-weight: 600;
  line-height: 25px;
  font-size: small;
    background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#up-down-speed{
  /* color: white; */
   /* width: 33%; */
  font-weight: 600;
  line-height: 25px;
  font-size: small;
    background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

#xyz {
   /* top: 50%;
   left: 28%;
  background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px; */
      background-color: rgba(24, 26, 27, 0.65);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    height: fit-content;
}

#pitch-div {
  bottom: 20%;
  left: 47%;
  background-color: rgba(24, 26, 27, 0.65);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
 /* clip-path: polygon(0 0, 100% 0, 84% 100%, 16% 100%); */
}

#pitch-div-2 {
    bottom: 20%;
  left: 47%;
}

#up-down-keys {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#r-f-keys {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: inherit;
}

#w-s-keys {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: inherit;

}

#yaw-div {
    background-color: rgba(24, 26, 27, 0.65);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

#yaw-div-2{
    top: 50%;
    right: 30%;
}

#left-right-keys, #q-e-keys {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#a-d-keys {
  align-items: center;
  width: inherit;
  justify-content: center;
  display: flex;
  flex-direction: row;
}



#left-key, #right-key, #up-key, #down-key, #q-key, #e-key, #a-key, #d-key, #w-key, #s-key, #r-key, #f-key{
      background-color: rgba(24, 26, 27, 0.5);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    border-radius: 5px;
    margin: 3px;
    font-size: 30px;
    border: 1px grey;
}

#roll-div {
    background-color: rgba(24, 26, 27, 0.65);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

#roll-div-2 {
    top: 20%;
    left: 47%;
}



#speed-div {
  display: flex;
  flex-direction: row;
  bottom: 0;
  /* left: 25%; */
  justify-content: space-around;
  width: 100%;
}

#speed-div-2 {
    display: flex;
    flex-direction: row;
    bottom: 25px;
    /* left: 25%; */
    justify-content: space-around;
    width: 100%;
}


#w-s-keys, #r-s-keys {
  margin-bottom: 5px;
}



#key-directions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#letter-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#letter-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#arrow-1 {
    display: flex;
    justify-content: center;
}

#arrow-2 {
  display: flex;
  flex-direction: row;
}



#left-key-2, #right-key-2, #up-key-2, #down-key-2, #q-key-2, #e-key-2, #a-key-2, #d-key-2, #w-key-2, #s-key-2, #r-key-2, #f-key-2{
    background-color: rgba(114, 116, 117, 0.5);

    border-radius: 5px;
    margin: 3px;
    font-size: 36px;
    padding: 15px;
    border: 1px grey;
}


#key-description {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 2;
}

#axis-yaw{
  position: absolute;
    top: 47%;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

#pitch-roll{
  /* position: absolute; */
    /* left: 50%; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

#pitch-roll-2 {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
}

.movement-divs {
  width: inherit;
  justify-content: center;
}

#left-right-speed, #up-down-speed, #forward-speed {
  width: fit-content;
  margin: auto;
}

#blue-word {
  color: rgb(92, 209, 255);
  font-weight: 800;
}

#play-btn {
    width: 300px;
    margin-bottom: 100px;
    cursor: pointer;
    /* margin: auto; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    color: limegreen;
    background: black;
    /* box-shadow: none; */
    border-radius: 3px;
    padding: 15px;
    font-size: 18px;
    border: .1px solid gray;
}

#letter-keys {
    display: flex;
    flex-direction: column;
}


#win-game {

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
 
}


#win-modal-content {
  font-family: Lato,Verdana,Arial,geneva,sans-serif;
  text-align: center;
  /* font-size: 40px; */
  margin: auto;
  height: 100%;
  width: 100%;
}


#win-h1 {
    background-color: black;
    color: red;
    padding: 150px;
    /* display: flex; */
}

#win-p-div {
    width: 40%;
    margin: auto;
    line-height: 29px;
}